@charset "UTF-8";
/* $color-fondo: #65C1BE;
$colorFondoTitulos: #ECC1BE;
$colorLetrasTitulos: #3B506E;
$colorHovers: #9bbef0; */
/* MAP */
/* EXTEND */
.tituloPagina {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

/* MIXING */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #65C1BE;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0% 5% 0% 5%;
}
.error__imagen {
  border-radius: 15%;
  width: 100%;
  max-width: 600px;
  height: auto;
}
.error__boton {
  background-color: #ECC1BE;
  border: none;
  color: #3B506E;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  font-size: 16px;
  margin: 1rem;
}

.barraNavegacion {
  padding-right: 6%;
}

.itemsBarra {
  letter-spacing: 0.2rem;
  justify-content: space-around;
  text-transform: uppercase;
}

.nav-link:hover {
  background-color: #9bbef0;
}

.tituloPagina {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ECC1BE;
  color: #3B506E;
  margin: 0%;
  padding-top: 5rem;
  padding-bottom: 0.5rem;
}

/* --------------------------------------PORTFOLIO-------------------------------------- */
.card-img-top {
  transition: 1s;
}
.card-img-top:hover {
  opacity: 0.5;
  transition: 1s;
  transition-timing-function: ease-out;
}

/* --------------------------------MÁRGENES GENERALES---------------------------------- */
.contenedor {
  margin: 3% 3% 3% 3%;
  /* --------------------------------------SOBRE MI-------------------------------------- */
}
.contenedor__texto {
  margin-top: 60px;
  width: 25rem;
  letter-spacing: 0.2rem;
  text-align: left;
}
.contenedor__texto__imagen {
  border-radius: 4rem;
  width: 500px;
  max-height: 600px;
  margin-bottom: 40px;
}
.contenedor__texto__imagen:hover {
  opacity: 0.5;
  transition: 1s;
}

.barraFooter {
  background-color: #6d95cc;
  text-align: center;
  width: 100%;
  padding-top: 1rem;
}
.barraFooter__titulo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: x-large;
}
.barraFooter__subtitulo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
}
.barraFooter__copyright {
  padding-top: 1rem;
  margin-bottom: 0%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: smaller;
}
.barraFooter a {
  margin: 0% 2% 0% 2%;
}
.barraFooter img {
  opacity: 80%;
  height: 1.5rem;
  width: 1.5rem;
  transition: 1s;
}
.barraFooter img:hover {
  transition: 0.5s;
  transform: scale(175%);
}

.carousel__img {
  padding: 1rem;
  border-radius: 3vh;
  width: 50%;
}

.carousel-item {
  text-align: center;
}

@media (max-width: 768px) {
  .barraNavegacion {
    text-align: center;
  }
  .contenedor__texto {
    text-align: center;
  }
  .servicios {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .contacto {
    justify-content: center;
  }
  .iframe {
    display: flex;
    width: 100%;
    height: 25em;
  }
}

/*# sourceMappingURL=main.css.map */
