/* --------------------------------------INDEX-------------------------------------- */
* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #65C1BE;
}

.barraNavegacion {
    padding-right: 6%;
}

.itemsBarra {
    letter-spacing: .2rem;
    justify-content:space-around;
    text-transform: uppercase;
}

.tituloPagina {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ECC1BE;
    color: #3B506E;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding-top: 5rem;
    padding-bottom: 0.5rem;
    margin: 0%;
}

.barraFooter {
    display: flex;
    justify-content: center;
    background-color: #6d95cc;
    position: fixed;
    width: 100%;    
    bottom: 0rem;
}

.barraFooter a {
    margin: 0% 2% 0% 2%;
}

.barraFooter img {
    opacity: 80%;
    height: 1.5rem;
    width: 1.5rem;
}

/* --------------------------------------PORTFOLIO-------------------------------------- */

.cuadriculaTrabajos {
    margin-top: 3%;
    margin-bottom: 8%;
    margin-left: 3%;
    margin-right: 3%;
}

/* --------------------------------------SOBRE MI-------------------------------------- */

.bio {
    margin-top: 3%;
    margin-bottom: 8%;
    margin-left: 3%;
    margin-right: 3%;
}    

.bio__texto {
    width: 25rem; 
    letter-spacing: .2rem;
    margin-bottom: 3rem;
    text-align: left;
}

.bio__imagen {
    border-radius: 4rem;
    width: 30rem;
    height: 35rem;
}

/* --------------------------------------SERVICIOS-------------------------------------- */

.cuadriculaServicios {
    margin-top: 3%;
    margin-bottom: 8%;
    margin-left: 3%;
    margin-right: 3%;
}

/* --------------------------------------CONTACTO-------------------------------------- */

.formMap {
    margin-top: 3%;
    margin-bottom: 8%;
    margin-left: 3%;
    margin-right: 3%;
}


/* --------------------------------------MOBILE DESIGN-------------------------------------- */



/* --------------------------------------INDEX-------------------------------------- */

@media (max-width: 768px) {

    .barraNavegacion {    
        text-align: center;
    }

/* --------------------------------------SOBRE MI-------------------------------------- */

    .bio__texto {
        text-align: center;
    }

/* --------------------------------------SERVICIOS-------------------------------------- */

    .servicios {
        margin-top: 5%;
        margin-bottom: 5%;
    }

/* --------------------------------------CONTACTO-------------------------------------- */

    .contacto {
        justify-content: center;
    }    

    .iframe {
        display: flex;    
        width: 100%;
        height: 25em;
    }
}