/* --------------------------------------PORTFOLIO-------------------------------------- */
.card-img-top{
    transition: 1s;
    &:hover {
    opacity: 0.5;
    transition: 1s;
    transition-timing-function: ease-out;
    }
}

/* --------------------------------MÁRGENES GENERALES---------------------------------- */

.contenedor {
    margin: 3% 3% 3% 3%;

/* --------------------------------------SOBRE MI-------------------------------------- */    

    &__texto {
        margin-top: 60px;
        width: 25rem; 
        letter-spacing: .2rem;
        text-align: left;

        &__imagen {
            border-radius: 4rem;
            width: 500px;
            max-height: 600px;
            margin-bottom: 40px;
            
            &:hover {
                opacity: 0.5;
                transition: 1s;
            }
        }
    }
}