.tituloPagina {
    font-family: $tipografiaTitulos;
    background-color: map-get($colores, fondoTitulos);
    color: map-get($colores, letraTitulos);
    @extend %textoTitulo;
    @include bordes (0%, 5rem, 0.5rem);
}